* {
    padding: 0;
    margin: 0;
    min-width: 0;
}

body {
    font: 14px/1.4 sans-serif;
    color: #666;
}

a {
    color: inherit;
}

button {
    background: none;
    border: 0 none;
    cursor: pointer;
    color: inherit;
}

header {
    color: #fff;
}

article {}

img {
    vertical-align: top;
    max-width: 100%;
}

ol,
ul,
li {
    list-style: none;
}

em,
strong,
dfn {
    font-style: normal;
    font-weight: 700;
}